* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   /* background-color: #f0f0f0;*/
}

.container {
    text-align: center;
}

h1 {
    color: #e072c8;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #fff;
    border: 2px solid #333;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0 0 10px rgba(127, 74, 196, 0.6),0 0 20px rgba(185, 78, 176, 0.4);
}

.cell:hover {
    background-color: #f2f2f2;
}

#reset {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#message {
    margin-top: 40px;
    font-size: 1.5em;
    color: hsl(130, 72%, 29%);
}